{
  "presets": ["env"],
  "plugins": [
  ],
  "env": {
    "commonjs": {
      "plugins": [
        ["transform-es2015-modules-commonjs", { "loose": true }]
      ]
    },
    "umd": {
      "plugins": [
        ["transform-es2015-modules-umd",
        {
          "loose": true,
          "globals": {
            'reselect': 'Reselect'
          }
        }]
      ],
      "moduleId": "ReselectTools"
    },
    "test": {
      "plugins": [
        ["transform-es2015-modules-commonjs", { "loose": true }],
      ]
    }
  }
}
